.tab {
  display: none;
}

.tab.is-active {
  display: block;
}

.heatmap-status {
  text-align: center;
}

.heatmap {
  overflow: auto;
  text-align: center;
  width: 100%;
  height: fit-content;
}

.cell-border {
  stroke: #eee;
  stroke-width: 0.3px;
}

.cell-hover {
  stroke: #f00;
  stroke-width: 0.3px;
}

.text-mono {
  font-size: 8pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

.text-highlight {
  fill: #c00;
}

.text-hover {
  fill: #00c;
}

#tooltip {
  position: absolute;
  width: fit-content;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  z-index: 1;
}

.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}
